@page "/"

<PageTitle>Home</PageTitle>

<div class="title">
    <div class="title-small">
        <h2 class="title-small-text">I'm a</h2>
    </div>
    <div class="title-large">
        <h1 class="title-large-text">Tech Enthusiast</h1>
    </div>
</div>




@* lots of extra space here *@

@* <div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="Whatever Identifier you want for styling">
                <h2 class="title-small-text">I'm a</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="Whatever identifier you want for styling">
                <h1 class="title-large-text">Tech Enthusiast</h1>
            </div>
        </div>
    </div>
</div> *@

@* 
    This is how i would style it.  The problem is that you're wanting the font to change with screen size.
    to do that you will want styling inside your css that identifies screen size.  check there for my notes.
*@